.button-container button {
  background-color: white;
  margin-right: 10px;
  border-radius: 10px;
  padding: 7.5px;
}

.hero-container {
  background-image: url('../../../public/images//business-event-flyer-905353253.png');
  background-size: contain;
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
