.search-hero-container {
  position: relative;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.video-bg {
  width: 100%;
  height: 250px;
  top: 0;
  object-fit: cover;
  filter: opacity(40%);
  z-index: -1;
}

.video-overlay {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  margin: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  letter-spacing: 5px;
}

.search-bar {
  height: 40%;
  border-radius: 50px;
}
.whats-happening {
  font-size: 70px;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  font-family: Sriracha;
  animation: pulsate 2.5s infinite alternate;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgb(0, 255, 70);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }

  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgb(0, 255, 70);
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
}
