.search-box-container {
  display: flex;
  margin-left: 15px;
}

.search-button {
  background-color: #5f0f40;
  border-color: black;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.search-bar {
  width: 500px;
  margin-right: 20px;
  margin-left: 40px;
}

.search-main-container {
  display: flex;
  padding: 50px;
}

.search-filters {
  width: 30%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.search-results {
  display: flex;
  align-items: end;
}

.date-picker {
  width: 75%;
  border: 1px black solid;
}

.date-filter-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.individual-radio {
  display: flex;
  flex-direction: column;
}

.category-filter-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.radio-container {
  display: flex;
  justify-content: space-between;
}

.individual-radio {
  display: flex;
  flex-direction: column;
}

.promoter-filter-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.location-filter-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-top: 20px;
}
