body {
  background-color: #f6f5f8;
}

.upcoming-events-container {
  margin-bottom: 300px;
  margin-left: 50px;
  margin-right: 50px;
}
.events-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.upcoming-events-header {
  text-align: left;
  font-weight: 900;
  font-size: 3rem;
  padding-left: 20px;
}
