body,
html {
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 2rem;
  justify-content: flex-start;
}

.nav-list {
  padding-top: 5px;
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 15px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-list li:hover {
}

.floating-action-btn {
}

.nav-list li:last-child {
}
